*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.fondo{
    background: #0c2a43;
}

/*------------- Nav-bar --------------------*/

#Busqueda{
    background: #ffffff;
    border-radius: 20px;
    width: 35%;
    border:  #ffffff;
    color: #0c2a43;
    display: flex;
    align-items: center;
    
}

#box-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

#box-tienda{
    display: flex;
    justify-content: center;
    align-items: center;
}

#sesion{
    color: white;
}

#boton-reg{
    width: 15%;
    border-radius: 20px;
    color: #13558b;
}

#menu-nav{
    background: #0c2a43;
    color: white;
}

#menu-nav-sec{
    color: white;
    
}

#carro{
    display: flex;
    align-items: center;
}

/* --------------- Carousell -------------*/

#imagen{
    width: 100%;
    height: 500px;
    background-size: cover;
}

/* ---------- seccion publicidad -------*/

#publicidad-um{
    width: 100%;
    height: 300px;
    background: #0c2a43;
    border-radius: 20px;
}

#info{
    width: 100%;
    height: 80px;
    background: #0c2a43;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#oferta{
    width: 100%;
    height: 400px;
    background: rgb(214, 213, 206);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carrusell{
    width: 90%;
    height: 300px;
    background: white;
    border-radius: 5px;
}

#producto{
    width: 100%;
    height: 300px;
    border-radius: 2.5px;
    display: flex;
}

#producto button{
    background: #0c2a43;
    color: white;
}

#imagen-p{
    width: 90%;
    height: 150px;
    background: rgb(214, 213, 206);
    border-radius: 8px;
}

#span{
    width: 100%;
    height: 50px;
}

#span p{
    color: #0c2a43;
    font-size: 100%;
}

#seccion-propia-um{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;

}

#producto-um{
    display: flex;
}

#circle-um{
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background: rgb(214, 213, 206);
}

#box-um{
    width: 100%;
    height: 100%;
    border-radius: 2.5px;
    background: rgb(214, 213, 206);
}

#condiciones{
    height: 100%;
}

#condiciones p{
    color: #0c2a43;
    font-size: 100%;
}


/*------------------ Carrito de compras ---------------------*/

#sec-cart{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
        
}

#descripcion-producto{
    width: 100%;
    height: 90%;
    background: #0c2a43;
    border-radius: 10px;
}

#descripcion-producto label,
#descripcion-producto h6{
    color: white;
}

#labels-producto{
    width: 100%;
    height: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#sec-1{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}

#tabla-compra{
    width: 100%;
    height: 28%;
    margin-top: 3%;
    margin-bottom: 5%;
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tabla-compra label{
    color: black;
}

#tabla-compra button{
    background:rgb(214, 213, 206);
    border-radius: 100px;
}

#cerrar-btn{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: black;
}

#producto-carrito{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background: #f1f0f0;
    border-radius: 10px;
    padding: 1px;
    border-color: blue;
}

#detalles{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lista-compra{
    width: 100%;
    height: 90%;
    background: #0c2a43;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    padding: 20px;
}

#sub,
#cupon,
#total{
    display: flex;
    justify-content: space-between;
}

#comprar{
    width: 100%;
    height: 10%;
    background: #e0ce26;
}

/* ----------------- seccion televisores -------------*/

#sec-producto-box{
    height: 900px;
    display: flex;
    justify-content: space-around;
}

#opciones{
    height: 60%;
    background: #0c2a43;
    border-radius: 20px;
    padding: 30px;
}

#box-proc{
    height: 100%;
    background: #0c2a43;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
}

#sec-producto-1,
#sec-producto-2,
#sec-producto-3{
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: center;
}

#sec-producto-1 label,
#sec-producto-2 label,
#sec-producto-3 label{
    color: white;
}

#sec-producto-1 button,
#sec-producto-2 button,
#sec-producto-3 button{
    background: #e0ce26;
    color: #0c2a43;
}

#opciones{
    display: flex;
    flex-direction: column;
}

#categoria{
    display: flex;
    justify-content: space-between;
}

/*------------------ LOGIN --------------------*/

#login{
    height: 100vh;
    background: #0c2a43;
}

#window-login{
    width: 100%;
    height: 95%;
    background: #0c2a43;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-login{
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec-1-login{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-around;   
}

#sec-2-login{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;   
}

#proveedor-login{
    width: 45%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f0f0;
    color: #0c2a43;
    border-radius: 15px;
}

#cliente-login{
    width: 45%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f0f0;
    color: #0c2a43;
    border-radius: 15px;
}

#juridico-login{
    width: 45%;
    height: 200px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f0f0;
    color: #0c2a43;
    border-radius: 15px;
}

#pie-pagina{
    width: 100%;
    height: 100px;
}

/*----------------- Login Proveedor -------*/



#regresar{
    color: white;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
}

#sec-1-login-prove{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

#prove-login{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0c2a43;
    border-radius: 15px;
}

#login-aceptar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9d41c;
    border-radius: 15px;
}

/*----------------- Registro ------------------*/

#cabezera{
    width: 100%;
    height: 100px;
    background: #0c2a43;
    display: flex;
    justify-content: center;
    align-items: center;
}

#registro{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#campos{
    display: flex;
    justify-content: center;
}


#formulario input{
    border: solid 2px #0c2a43;
}

#formulario input[type="submit"] {
    width: 40%;
    border: none;
    outline: none;
    height: 40px;
    background: #0c2a43;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-left: 30%;
    margin-right: 30%;
}
/*----------- Confirmacion de registro -------*/

#confirmacion{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f0f0;
    color: #0c2a43;
}


/*--------- Cabezera de perfil ----------------*/

#box-perfil{
    width: 100%;
    height: 750px;
    background: #f1f0f0;
}

#cabezera-perfil{
    width: 100%;
    height: 150px;
    background: #f1f0f0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nombre-edit-perfil{
    display: flex;
}

#nac-ced-perfil{
    display: flex;
    justify-content: flex-end;
}

#opciones-perfil{
    width: 100%;
    height: 100px;
    background: #e0dede;
    display: flex;
    justify-content: flex-start;
}

#op-box{
    width: 100%;
    height: 100px;
}

#button-ord{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #ffffff;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
}

#button-dir{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
}
#button-car{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
}

#detalles-perfil-ordenes{
    width: 100%;
    height: 500px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-detalles{
    width: 100%;
    height: 400px;
    background: #f1f0f0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detalles-perfil-direcciones{
    width: 100%;
    height: 500px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#box-direcciones{
    width: 100%;
    height: 400px;
    background: #f1f0f0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#datos-direccion{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#box-dir-1{
    width: 50%;
    display: flex;
    flex-direction: column;
}

#box-dir-2{
    width: 50%;
    display: flex;
    flex-direction: column;
}

#editar-direccion{
    width: 15%;
    height: 30px;
    border-radius: 20px;
    background: #0c2a43;
    color: white;
}

#agre-dir{
    width: 50%;
    height: 40px;
    border-radius: 20px;
    background: #0c2a43;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-dir{
    background: none;
    border: none;
    color: white;
}

#detalles-perfil-carnet{
    width: 100%;
    height: 500px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#carnet-um{
    width: 70%;
    height: 300px;
    background: #0c2a43;
    border: solid 2px #e0ce26;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#logo-carnet{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#datos-carnet{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}

#foto-market{
    width: 30%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

#detalles-carnet{
    width: 70%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#codigo-qr{
    width: 30%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f1f0f0;
    border-radius: 20px;
}

#imagen-codigo{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*------------------ FOOTER -------------------*/

.main-footer{
    width: 100%;
    height: auto;
    background: #0c2a43;
    margin-top: 2%;

}

#sec-empresa a,p{
    color: white;
    font-size: 70%;
}
